$darkBlue: hsl(233, 47%, 7%);
$darkBlue-second: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$white-sec: hsla(0, 0%, 100%, 0.75);
$white-two: hsla(0, 0%, 100%, 0.6);